{% extends 'base.html.twig' %}

{% block title %}Tehran Gasht{% endblock %}

{% block body %}

<ul>
<li>Name: {{attraction.name}}</li>
<li>Short Description: {{attraction.shortDescription}}</li>
<li>Full Description: {{attraction.fullDescription}}</li>
<li>Score: {{attraction.score}}</li>
</ul>

{% endblock %}
